/*definir cores tema Dark*/
:root,  
:root[data-theme="dark"] {

    --primary-bg-color:#111227 ;
    --cor-fundo-secundaria: #28292e;
    --cor-texto:#8f8f8f ;
    --cor-icone: #ecc149 ;
    --cor-link: #f0f0f0;
    --cor-hover: #e9e9e9 ;
    --cor--borda:#28292e;
    --icone-menu-mobile: #e9e9e9;

}


/*definir cores tema Light*/  
:root[data-theme="light"] {

    --primary-bg-color: #e9e9e9;
    --cor-fundo-secundaria: #C7C8C9;
    --cor-texto: #323232 ;
    --cor-icone: #5ca2e4;
    --cor-link: #0b0b0f;
    --cor-hover: #0b0b0f;
    --cor--borda:#9a9a9c ;
    --icone-menu-mobile:#9a9a9c ;
    
}


html[data-theme="light"] .logo {
    filter: invert(1) ;  /*filtro para inverter a cor*/ 

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*controla tudo internamente, não permite que os elementos transbordem*/
}

body {
    background: var(--primary-bg-color); /*cor de fundo*/
    color:#f0f0f0 ; /*cor de texto*/
    /*font-family: ;*/
}

a { 
   text-decoration: none; /*customiza a aparencia do underline do link*/
   color:var(--cor-link);
}

ul{
    list-style: none; 
}

#header { /*para id se usa #*/
    display: flex; /*modo de visualização*/ 
    flex-wrap: row wrap; /*quebra de linha*/
    justify-content: space-between; /*espaço entre os elementos*/
    align-items: center;
    width: 100%; /* largura que vai ocupar na tela*/
    padding: 0.5rem 1rem; /*acrescenta espaços internos*/
    z-index: 200; /*Sistema de camadas -  */ 
    position: fixed; 
    border-bottom: 1px solid  var(--cor--borda) ; /*embaixo do cabeçalho, haverá uma linha de 1 px sólida e cinza*/
    background: var(--cor-fundo-secundaria) ;
}

.menu-desktop { /*para classe se usa . */
    display: none; /*esse menu em telas grandes vai sumir*/
}

.menu {
    display: flex;
    gap: 1rem ; /*espaço entre os objetos*/
    align-items: center;
}

.menu-texto {
    color:var(--cor-texto);
    text-transform: uppercase; /*alterar o formato do texto */
    font-size: 0.75rem;
    font-weight: 600; /*expessura da fonte*/
}


.menu-link.active .menu-texto,
.menu-link:hover .menu-texto,
.menu-link.active .social-icon,
.menu-link:hover .menu-texto { /*hover- quando passar o mouse por cima irá destacar a palavra*/
    color: var(--cor-texto);

}

.social-icon{
    color: var(--cor-texto);
    font-size: 1rem;
}

.menu-link.active .social-icon,
.menu-link:hover .social-icon {
    color: var(--cor-hover);
    transition: all 0.3s ease-in-out;
}

.logo{
    width: 3.25rem; /*52 px*/
    height: 1rem;
}

.header-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#toggleTheme{
    cursor:pointer; /*mmouse vira mão ao passar por cima*/
    color: var(--cor-icone) ;
    font-size: 1.2rem;
    transition: all  0.3s ease-in-out;
}
/*MENU MOBILE*/

#menuMobile{
    margin-left: 1rem;
}

.btn-menu-mobile{
    background: transparent;
    color: var(--icone-menu-mobile);
    border:none;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin-left: 1rem;
    display: flex;
    align-items: center; /*alinhar div*/
    justify-content: center; /*alinhar div*/
    cursor: pointer;
}

/*Menu mobile (estilo e animação) */

.menu-mobile{ /*nav*/
    position: fixed;
    top: 0;
    right:0;
    background: var(--cor-fundo-secundaria);
    z-index: 100;
    transform: translateX(100%); /*pesquisar depois*/
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    border-left: 1px solid var(--cor--borda);
    height: 100vh ; /*VH= VIEWPORT HEIGHT*/
    width: 25%; /*VW= VIEWPORT WIDTH*/
    transition: 0.3s ease-in-out; /*efeito do icone alternar entre X e o menu*/
}


.menu-mobile.active{
    transform: translateX(0%);
}
.menu-mobile .menu-lista{
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
 }

 .menu-mobile .menu-link{
    display:inline-block;
    font-size: 1rem;
    padding: 0.5rem 0;
 }
 

/*medidas responsivas*/

@media (min-width: 768px) {  /*resolução de até 768px até o infinito*/

    .menu-desktop{
        display: flex;
        min-width: 30%;
    }

    .header-toggle { /*pode controlar depois para melhorar a posição*/
        min-width: 30%;
    }

    .btn-menu-mobile{
        display: none;
    }

    #home {
        padding-top: 6rem;
    }
    

}

