/*definir cores tema Dark*/
:root,  
:root[data-theme="dark"] {

    --primary-bg-color:#111227 ;
    --cor-texto:#8f8f8f ;
    --cor-icone: #ecc149 ;
    --cor-link: #f0f0f0;
    --cor-hover: #e9e9e9 ;
    --cor--borda:#28292e;

}


/*definir cores tema Light*/  
:root[data-theme="light"] {

    --primary-bg-color: #e9e9e9;
    --cor-texto: #323232 ;
    --cor-icone: #5ca2e4;
    --cor-link: #0b0b0f;
    --cor-hover: #0b0b0f;
    --cor--borda:#9a9a9c ;
    
}


html[data-theme="light"] .logo {
    filter: invert(1) ;  /*filtro para inverter a cor*/ 

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*controla tudo internamente, não permite que os elementos transbordem*/
}

body {
    background: var(--primary-bg-color); /*cor de fundo*/
    color:#f0f0f0 ; /*cor de texto*/
    /*font-family: ;*/
}

a { 
   text-decoration: none; /*customiza a aparencia do underline do link*/
   color:#f0f0f0;
}

ul{
    list-style: none; 
}

#header { /*para id se usa #*/
    display: flex; /*modo de visualização*/ 
    flex-wrap: row wrap; /*quebra de linha*/
    justify-content: space-between; /*espaço entre os elementos*/
    align-items: center;
    width: 100%; /* largura que vai ocupar na tela*/
    padding: 0.5rem 1rem; /*acrescenta espaços internos*/
    /* z-index: ; */
    /*position: ; */
    border-bottom: 1px solid  #56575a ; /*embaixo do cabeçalho, haverá uma linha de 1 px sólida e cinza*/
    /*background: ;*/
}

.menu-desktop { /*para classe se usa . */
    display: none; /*esse menu em telas grandes vai sumir*/
}

.menu {
    display: flex;
    gap: 1rem ; /*espaço entre os objetos*/
    align-items: center;
}

.menu-texto {
    color:var(--cor-texto);
    text-transform: uppercase; /*alterar o formato do texto */
    font-size: 0.75rem;
    font-weight: 600; /*expessura da fonte*/
}


.menu-link.active .menu-texto,
.menu-link:hover .menu-texto { /*hover- quando passar o mouse por cima irá destacar a palavra*/
    color: #f0f0f0;

}

.logo{
    width: 3.25rem ; /*52 px*/
    height: 1rem;;
}

.header-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#toggleTheme{
    cursor:pointer; /*mmouse vira mão ao passar por cima*/
    color: var(--cor-icone) ;
    font-size: 1.2rem;
    transition: all  0.3s ease-in-out;
}
/*MENU MOBILE*/

#menuMobile{
    margin-left: 1rem;
}


/*medidas responsivas*/

@media (min-width: 768px) {  /*resolução de até 768px até o infinito*/

    .menu-desktop{
        display: flex;
        min-width: 30%;
    }

    .header-toggle { /*pode controlar depois para melhorar a posição*/
        min-width: 30%;
    }

}
